<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      Activate Filters
    </mat-toolbar>
    <mat-nav-list class="list-wrapper">
      <div mat-list-item>
        <h4>Filter by Gender</h4>
        <gender-filter (onSelectionChange)="onGenderSelectionChange($event)"></gender-filter>
      </div>
      <hr>
      <div mat-list-item>
        <h4>Filter by Age</h4>
        <age-filter (onFilterChange)="onAgeFilterApplied($event)"></age-filter>
      </div>
      <hr>
      <div mat-list-item>
        <h4>Filter by Eye Colors</h4>
        <eye-color-filter (onSelectionChange)="onEyeColorSelect($event)"></eye-color-filter>
      </div>
      <hr>
      <div mat-list-item>
        <h4>Filter by Birthdate</h4>
        <birth-date-filter (onApplyFilter)="onBirthdateFilterApplied($event)"></birth-date-filter>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row class="mat-elevation-z8">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">tune</mat-icon>
        </button>
        <span>Users Table</span>
      </mat-toolbar-row>
      <mat-toolbar-row class="mat-elevation-z8 input-toolbar">
        <search-user [model]="searchQueryModel" (modelChange)="onSearchQueryChange($event)"></search-user>
      </mat-toolbar-row>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
